* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Oxygen', sans-serif;
  color: #b2b2b2;
  background-color: #000000;
  font-size: 14px;
}

.container {
  display: flex;
  flex-direction: row;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

li:hover, li:hover a {
  background-color: #b2b2b2;
  color: #000000;
  transition: 0.5s;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

img {
  width: 100%;
}

header h1 {
  margin-top: 72px;
  margin-bottom: 12px;
  font-size: 2.5em;
  color: #ffffff;
  font-weight: 300;
  letter-spacing: 2px;
}

header p {
  margin-top: 12px;
  margin-bottom: 36px;
  letter-spacing: 2px;
}

section h3 {
  font-size: 1.75em;
  letter-spacing: 3px;
  color: #ffffff;
  margin-bottom: 18px;
  font-weight: 300;
}

section h2 {
  font-size: 1.25em;
  letter-spacing: 2px;
  color: #ffffff;
  margin-bottom: 12px;
  margin-top: 12px;

}

.card {
  border: 1px solid #b2b2b2;
  padding: 12px;
  margin-bottom: 24px;
}

#right {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section-container {
  line-height: 20px;
  letter-spacing: 1px;
  margin-top: 36px;
  margin-bottom: 36px;
}

.about span {
  color: #ffffff;
  font-weight: bold;
}

#motivation {
  width: 90%;
}

#experience {
  width: 60%;
}

#determination {
  width: 95%;
}

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.fa {
  font-size: 3em;
  margin: 12px;
}

.copyright-container {
  margin-top: 24px;
}

.copyright-container p {
  color: #ffffff;
}

@media only screen and (max-width: 480px) {
  .container {
    flex-direction: column;
  }

  #left {
    position: fixed;
    width: 100%;
  }

  ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    letter-spacing: 2px;
  }

  ul li {
    width: 100%;
    text-align: center;
    padding: 10px 10px;
  }

  .section-container {
    width: 350px;
  }

  .skill-container {
    width: 100%;
    height: 18px;
    background-color: #b2b2b2;
    margin-top: 12px;
    margin-bottom: 12px;
  }

  #motivation, #experience, #determination {
    height: 18px;
    background-color: #424242;
    margin-top: 12px;
    margin-bottom: 12px;
    text-align: right;
    padding-right: 12px;
    letter-spacing: 2px;
    color: #ffffff;
  }

  label {
    font-size: 1.25em;
    letter-spacing: 2px;
  }

  input, #message {
    width: 100%;
    margin-top: 6px;
    margin-bottom: 6px;
    outline: none;
    padding: 1px 6px;
    letter-spacing: 1px;
    height: 24px;
    color: #ffffff;
  }

  #message {
    height: 200px;
    resize: none;
  }

  input:focus, #message:focus {
    background-color:  #ffffff;
    color: #000000;
  }

  .form-group {
    margin-bottom: 12px;
  }
}

@media only screen and (max-width: 768px) {
  .container {
    flex-direction: column;
  }

  #left {
    position: fixed;
    width: 100%;
  }

  ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    letter-spacing: 2px;
  }

  ul li {
    width: 100%;
    text-align: center;
    padding: 10px 10px;
  }

  .section-container {
    width: 100%;
  }

  #right {
    margin-left: 24px;
    margin-right: 24px;
  }

  .skill-container {
    width: 100%;
    height: 18px;
    background-color: #b2b2b2;
    margin-top: 12px;
    margin-bottom: 12px;
  }

  #motivation, #experience, #determination {
    height: 18px;
    background-color: #424242;
    margin-top: 12px;
    margin-bottom: 12px;
    text-align: right;
    padding-right: 12px;
    letter-spacing: 2px;
    color: #ffffff;
  }

  label {
    font-size: 1.25em;
    letter-spacing: 2px;
  }

  input, #message {
    width: 100%;
    margin-top: 6px;
    margin-bottom: 6px;
    outline: none;
    padding: 1px 6px;
    letter-spacing: 1px;
    height: 24px;
    color: #ffffff;
  }

  #message {
    height: 200px;
    resize: none;
  }

  input:focus, #message:focus {
    background-color:  #ffffff;
    color: #000000;
  }

  .form-group {
    margin-bottom: 12px;
  }

}

@media only screen and (min-width: 769px) {
  .container {
    flex-direction: column;
    align-items: center;
  }

  #left {
    position: fixed;
    width: 100%;
  }

  ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    letter-spacing: 2px;
  }

  ul li {
    width: 100%;
    text-align: center;
    padding: 10px 10px;
  }

  .section-container {
    width: 768px;
  }

  #right {
    margin-left: 24px;
    margin-right: 24px;
  }

  .skill-container {
    width: 100%;
    height: 18px;
    background-color: #b2b2b2;
    margin-top: 12px;
    margin-bottom: 12px;
  }

  #motivation, #experience, #determination {
    height: 18px;
    background-color: #424242;
    margin-top: 12px;
    margin-bottom: 12px;
    text-align: right;
    padding-right: 12px;
    letter-spacing: 2px;
    color: #ffffff;
  }

  label {
    font-size: 1.25em;
    letter-spacing: 2px;
  }

  input, #message {
    width: 100%;
    margin-top: 6px;
    margin-bottom: 6px;
    outline: none;
    padding: 1px 6px;
    letter-spacing: 1px;
    height: 24px;
    color: #ffffff;
  }

  #message {
    height: 200px;
    resize: none;
  }

  input:focus, #message:focus {
    background-color:  #ffffff;
    color: #000000;
  }

  .form-group {
    margin-bottom: 12px;
  }

  header {
    width: 768px
  }

  #left {
    width: 768px;
  }

}
